<?xml version="1.0" encoding="UTF-8"?>   
<web-app>
  <prefer-web-inf-classes>true</prefer-web-inf-classes> 
  <servlet> 
   	<servlet-name>action</servlet-name> 
    	<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>   
    		<init-param>
      			<param-name>config</param-name>
      			<param-value>/WEB-INF/struts-config.xml</param-value>
    		</init-param>
    		<init-param>
	    		<param-name>application</param-name>
	    		<param-value>ApplicationResources</param-value>
			</init-param>  
   			<load-on-startup>1</load-on-startup>
   		</servlet>    
			 
		<!-- Filter for SQL Injection -->
		<filter>
        	<filter-name>crossSite</filter-name>
    		<filter-class>com.indianmesh.inventory.utils.filter.RequestFilter</filter-class>
		</filter>  
		<filter-mapping>
  			<filter-name>crossSite</filter-name>
    		<url-pattern>/*</url-pattern>  
		</filter-mapping>		 
  		<servlet-mapping>
    		<servlet-name>action</servlet-name>
    		<url-pattern>*.do</url-pattern>
 		</servlet-mapping>   
  		<welcome-file-list>
			<welcome-file>/WEB-INF/jsp/login/login.jsp</welcome-file>
  		</welcome-file-list>      
   		<session-config>
      		<session-timeout>30</session-timeout>   
    	</session-config>       
    	<error-page>
			<exception-type>javax.servlet.jsp.JspException</exception-type>
			<location>/WEB-INF/jsp/common/exceptionpage.jsp</location>
		</error-page>	
		<error-page>
			<exception-type>javax.servlet.ServletException</exception-type>
			<location>/WEB-INF/jsp/common/exceptionpage.jsp</location>
		</error-page>	
    	<error-page>
			<error-code>404</error-code>
			<location>/WEB-INF/jsp/common/exceptionpage.jsp</location>
		</error-page>	
		<error-page>
			<error-code>500</error-code>
			<location>/WEB-INF/jsp/common/exceptionpage.jsp</location>
		</error-page>	
		<error-page>
			<error-code>505</error-code>
			<location>/WEB-INF/jsp/common/exceptionpage.jsp</location>
		</error-page>	
		
    	<!-- END -->
		<taglib>
  			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
  			<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
  			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
  			<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
  			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
  			<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
  			<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
  			<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
		</taglib> 
		<taglib>
  			<taglib-uri>/WEB-INF/c.tld</taglib-uri>
  			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib> 
 		<filter>
			<filter-name>InventoryAuthFilter</filter-name>
			<filter-class>com.indianmesh.inventory.utils.filter.AuthFilter</filter-class>	
			<init-param>
	    		<param-name>host</param-name>
	    		<param-value>http://127.0.0.1:8080</param-value>  
			</init-param>	
			<init-param>
	    		<param-name>inventory</param-name>
	    		<param-value>inventory</param-value>	    		
			</init-param>	
			<init-param>
	    		<param-name>loginMapping</param-name>
	    		<param-value>inventoryLogin</param-value>
			</init-param>	
 		</filter>	
		<filter-mapping>
			<filter-name>InventoryAuthFilter</filter-name>
			<servlet-name>action</servlet-name>
		</filter-mapping>  	  	    	   	   
	</web-app>
